@page "/Descend/{Pagetitle}/{ActionType1}"
@inject HttpClient Http

<PageTitle>Descend Calculator</PageTitle>

@{
    PracTitle();
}

<h1>@fullTital</h1>

<div>
    <DescendComponent ActionType="@ActionType1" CalculationType="@Pagetitle"></DescendComponent>
</div>


@code {
   // see Page\Descend.cs
}
