@page "/"

<PageTitle>Index</PageTitle>

<h1 style="color: blue">1 In 60 Rule Saves The Day</h1>

<p>
    You can take the guesswork out of your descent with a rule-of-thumb: 
    the "1 In 60" rule. The rule states that 1 degree of climb or descent closely equals 100'/NM.
</p>

<SurveyPrompt Title="How is Blazor working for you?" />
